
.sidebar{
    background-color: var(--dashboard-container);
}

.dashboard{
    h1,h2,h3,h4,h5,h6,p,a,span{
        color: var(--dashboard-text);
        transition: color .4s;
    }
    svg{
        stroke: var(--dashboard-text);
    }
    --dashboard-text: #000;
    --dashboard-bg: #fff;
    --dashboard-container: whitesmoke;
}
.dashboard-dark{
    --dashboard-text: #fff;
    --dashboard-bg: #1B1C1D;
    --dashboard-container: #282A2C;
}
.dashboard{
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: "Montserrat",system-ui;
    transition: background-color .6s;
    background-color: var(--dashboard-bg);
}

.dashboard .right{
    width: 100%;
    overflow-x: hidden;
    padding: 30px;
    max-height: 100vh;
    overflow-y: auto;
}
.dashboard .right::-webkit-scrollbar{
    width: 10px;
}

.dashboard .right::-webkit-scrollbar-thumb:hover{
    background-color: darkgrey;
}
.dashboard .right::-webkit-scrollbar-thumb{
    background-color: var(--dashboard-text);
    border-radius: 8px;
    cursor: pointer;
}
.dashboard .right .up,
.dashboard .right .middle,
.dashboard .right .below{
    display: flex;
    justify-content: space-between;
}

.dashboard .right .up {
    column-gap: 30px;
}
.dashboard .right .up select{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .6s;
    background-color: var(--dashboard-bg);
    color: var(--dashboard-text);
}

/* welcome pranay and selct time and all */
.dashboard .right .up div:has(select){
    width: 100%;
    display: flex;
    justify-content: space-between;
    .links{
        svg:hover{
            transform: scale(1.1);
            stroke: dodgerblue;
        }
        svg{
            height: 25px;
            margin-right: 30px;
            cursor: pointer;
            transition: transform .6s;
        }
    }
    h1{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        /* row-gap: 10px; */
        span{
            background-color: var(--dashboard-text);
            color: var(--dashboard-bg);
            padding: 5px 15px;
            width: max-content;
            align-self: center;
            border: 8px;
            font-size: 16px;
            border-radius: 8px;
        }
        a{
            margin-left: 15px;
            font-size: 16px;
        }
    }
}
.dashboard .right .up div{
    transition: background-color .6s;
    background-color: var(--dashboard-container);
    border-radius: 8px;
    padding: 20px;
}
.dashboard .right .up .weather{
    display: grid;
    h1{
        font-size: 16px;
        align-self: flex-end;
        padding-bottom: 5px;
    }
    h2{
        font-size: 35px;
    }
    img{
        grid-column: 2;
        grid-row: 1/3;
    }
}

.dashboard .middle{
    width: 100%;
    height: 50vh;
    margin: 30px 0;
    padding: 30px;
    max-height: 60vh;
    border-radius: 8px;
    transition: background-color .6s;
    background-color: var(--dashboard-container);
}


.dashboard .below{
    column-gap: 30px;
}
.dashboard .below div{
    transition: background-color .6s;
    background-color: var(--dashboard-container);
    border-radius: 8px;
    padding: 20px;
    
}
.dashboard .below #pie-container{
    min-height: 250px;
    min-width: 250px;
}
.dashboard .below div:has(table){
    width: 100%;
    table{
        color: var(--dashboard-text);
        width: 100%;
        border-radius: 8px;
        border: none;
        border-spacing: 0 20px;
        svg{
            height: 20px;
            margin-right: 10px;
        }
        th{
            padding: 10px;
            border: none;
        }
        td{
            padding: 5px;
            border: none;
            border-radius: 4px;
            cursor: default;
        }
        .pending{
            background-color: #ff6b6b;
            text-align: center;
            cursor: pointer;
            svg{
                margin-left: 10px;
            }
        }
        .done{
            background-color: #51cf66;
            text-align: center;
            svg{
                margin-left: 10px;
            }
        }
    }
}