.sidebar{
    /* width: 25vw;
    min-width: 300px; */
    width: max-content;
    transition: background-color .6s;
    height: 100vh;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat",system-ui;
}
.sidebar hr{
    margin: 20px 0;
}
.sidebar h1{
    display: flex;
    font-size: 40px;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
    flex-direction: column;
    justify-content: center;
    img{
        width: 150px;
    }
}


.sidebar .option p:hover{
    background-color: rgba(0, 0, 0, 0.244);
}
.sidebar .option p{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: default;
    margin-bottom: 5px;
    transition: background-color .2s;
    svg{
        height: 30px;
    }
}

.sidebar .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
     /* Toggle ON */
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  /* Move the circle to the right when ON */
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  }
  
  .sidebar .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider box */
  .sidebar .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* The circle inside the switch */
  .sidebar .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px; width: 26px;
    left: 4px; bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
 

  .sidebar .bottom{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    h2{
        display: flex;
        align-items: center;
        column-gap: 15px;
        text-wrap: nowrap;
        font-size: 20px;
        font-weight: normal;
        svg{
            height: 30px;
        }
    }
  }