.traffic{
    margin-top: 70px;
    padding: 40px;
    font-family: "Montserrat",system-ui;
}
.traffic h2{
    font-size: 40px;
    text-align: center;
}
.traffic h4{
    font-size: 20px;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
}

@keyframes blink {
    0%,100%{opacity: 1;}
    50%{opacity: 0;}
}

.traffic .drag{
    position: relative;
    min-height: 40vh;
    margin: 40px 0;

    .analyze{
        display: block;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #827BE6;
        height: 100%;
        width: 100%;
        img{
            height: calc(100% -  60px);
            max-height: 40vh;
        }
        h5,h6{
            color: white;
        }
        h5{
            font-size: 20px;
        }h6{
            font-size: 14px;
            margin-top: 5px;
            animation: blink 1s linear infinite;
        }
    }
    div{
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 30px;
        h1{
            grid-column: 1/3;
            margin-bottom: 50px;
        }
        video{
            height: 40vh;
            border-radius: 8px;
        }
        aside{
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-top: 20px;
            h3{
                font-size: 18px;
                margin-bottom: 10px;
            }
            div{
                margin-top: auto;
                width: 100%;
                display: grid;
                column-gap: 0;
                grid-template-columns: 1fr auto;
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #E8EBF1;
                    text-align: center;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
                button{
                    background-color: #727CF5;
                    border: none;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    padding: 20px 40px;
                    cursor: pointer;
                }
            }
        }
    }
     .result{
        display: none;
    }
}