@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.home{
    margin-top: 70px;
}


.home-video{
    max-width: 100vw;
    max-height: 65vh;
    overflow: hidden;
    position: relative;
    font-family: "Winky Rough",system-ui;
    video{
        max-width: 100%;
    }
    aside{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 255, 0.163); */
        backdrop-filter: brightness(60%);
    }
    h1,p{
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 60px;
    }
    p{
        font-family: "Poetsen One";
        font-size: 16px;
        color: rgb(214, 214, 214);
        top: 35%;
    }
    button:hover{
        color: #fff4e6;
    }
    button{
        position: absolute;
        bottom: 20px;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4c6ef5;
        border-radius: 8px;
        cursor: pointer;
        padding: 15px 60px;
        border: none;
        font-size: 18px;
        color: white;
        font-weight: bold;
        font-family: "Montserrat",system-ui;
        display: flex;
        align-items: center;
        column-gap: 20px;
        svg{
            height: 30px;
        }
    }
}


.home-feature{
    padding: 20px;
    position: relative;
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    div{
        padding: 15px;
        margin: 10px;
        border-radius: 4px;
        transition: box-shadow 1s;
        cursor: default;
    }
    div:hover{
        box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.07);
    }
    h1,h2,h3,p{
        font-family: "Montserrat",system-ui;
    }
    h1{
        position: absolute;
        top: 10px;
        font-size: 30px;
        margin: 30px 0;
    }
    h2{
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
}


.home-example{
    background-color: whitesmoke;
    padding: 30px;
    margin-top: 30px;
    h1,h2,h3{
        text-align: center;
        font-family: "Montserrat",system-ui;
    }
    h1{
        font-size: 30px;
        margin: 30px 0;
    }
    h2{
        font-size: 16px;
        font-weight: normal;
        margin: 20px;
    }
    h3{
        font-size: 20px;
        font-weight: bold;
    }
    video{
        border-radius: 4px;
    }
    div{
        display: grid;
        margin-top: 50px;
        grid-template-columns: auto 1fr auto;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
        svg{
         height: 100px; 
         padding: 20px;
         border-radius: 50%;
         stroke: var(--bg-color);
         background-color: #364fc7;  
         justify-self: center;
         transition: transform 1s;
        }
        svg:hover{
            transform: rotate(180deg);
        }
    }
}

/* for swiper testimonailas */
.home .reviews{
    padding: 30px;
    margin-top: 30px;
}
.home .reviews h6{
    font-size: 30px;
    margin: 30px 0;
    font-family: "Montserrat",system-ui;
}
.home .reviews .testimonial{
    user-select: none;
    background-color: #ebfbee;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    row-gap: 10px;
    height: 150px;
    overflow-y: auto;
    h1,p{
        font-family: "Montserrat",system-ui;
    }
    h1{
        align-self: center;
    }
    img{
        height: 50px;
        border-radius: 50%;
    }
    p{
        grid-column: 1/3;
    }
}
.home .reviews .swiper-pagination{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.home .reviews .swiper-pagination-bullet:hover{
    transform: scale(1.1);
}
.home .reviews .swiper-pagination-bullet{
    height: 10px;
    width: 10px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    background: darkgrey;
    border-radius: 50%;
}
.home .reviews .swiper-pagination-bullet-active{
    background-color: var(--text-color);
}